# ==================== #
# Default Configuration ovewrite
# ==================== #

# # Where things are
# source              : .
# destination         : ./_site
# collections_dir     : .
# plugins_dir         : _plugins # takes an array of strings and loads plugins in that order
# layouts_dir         : _layouts
# data_dir            : _data
# includes_dir        : _includes
sass:
  # sass_dir: _sass
  style: compressed
# collections:
#   posts:
#     output          : true

# # Handling Reading
# safe                : false
# include             : [".htaccess"]
# exclude             : ["Gemfile", "Gemfile.lock", "node_modules", "vendor/bundle/", "vendor/cache/", "vendor/gems/", "vendor/ruby/"]
# keep_files          : [".git", ".svn"]
# encoding            : "utf-8"
# markdown_ext        : "markdown,mkdown,mkdn,mkd,md"
# strict_front_matter : false

# # Filtering Content
# show_drafts         : null
# limit_posts         : 0
# future              : false
# unpublished         : false

# # Plugins
# whitelist           : []
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

# # Conversion
# markdown            : kramdown
# highlighter         : rouge
# lsi                 : false
# excerpt_separator   : "\n\n"
# incremental         : false

# # Serving
# detach              : false
# port                : 4000
# host                : 127.0.0.1
# baseurl             : "" # does not include hostname
# show_dir_listing    : false

# # Outputting
permalink           : "/:year/:month/:title:output_ext"
# paginate_path       : /page:num
timezone: Asia/Shanghai

# quiet               : false
# verbose             : false
defaults:
  - scope:
      path: "_posts"      # empty string for all files
      type: posts   # limit to posts
    values:
      comments: true
      layout: post_item
  - scope:
      path: ""      # empty string for all files
      type: pages   # limit to posts
    values:
      comments: false
      layout: page

# liquid:
#   error_mode        : warn
#   strict_filters    : false
#   strict_variables  : false

# # Markdown Processors
# kramdown:
#   auto_ids          : true
#   entity_output     : as_char
#   toc_levels        : [1, 2, 3, 4, 5, 6]
#   smart_quotes      : lsquo,rsquo,ldquo,rdquo
#   input             : GFM
#   hard_wrap         : false
#   footnote_nr       : 1
#   show_warnings     : false

# ==================== #
# Theme Configuration
# ==================== #

# locale
locale: zh_CN

title: jekyll-theme-jekyllrb
description: jekyllrb website theme

# comments
comments:
  provider: disqus
  disqus:
    shortname: foobar

# search
search:
  provider: google_cse
  google_cse:
    cx: foobar
  docsearch:
    apiKey: apiKey
    indexName: indexName
