<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% feed_meta %}
  <link rel="preload" href="{{ 'assets/fonts/lato-v14-latin-300.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="{{ 'assets/fonts/lato-v14-latin-700.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="{{ 'assets/css/screen.css' | relative_url }}" as="style">
  <link rel="stylesheet" href="{{ 'assets/css/screen.css' | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | relative_url }}">
  {% seo %}
  <!--[if lt IE 9]>
  <script src="/assets/js/html5shiv.min.js"></script>
  <script src="/assets/js/respond.min.js"></script>
  <![endif]-->
</head>