{% comment -%}
# params
- post: object
{% endcomment -%}

<div class="section-nav">
  <div class="left align-right">
      {% if include.post.previous %}
        <a href="{{ include.post.previous.url | relative_url }}" class="prev" title="{{ include.post.previous.title }}">
          {{ site.data.locale[site.locale].post_prev | default: 'Back' }}
        </a>
      {% else %}
        <span class="prev disabled">{{ site.data.locale[site.locale].post_prev | default: 'Back' }}</span>
      {% endif %}
  </div>
  <div class="right align-left">
      {% if include.post.next %}
        <a href="{{ include.post.next.url | relative_url }}" class="next" title="{{ include.post.next.title }}">
          {{ site.data.locale[site.locale].post_next | default: 'Next' }}
        </a>
      {% else %}
        <span class="next disabled">{{ site.data.locale[site.locale].post_next | default: 'Next' }}</span>
      {% endif %}
  </div>
</div>
<div class="clear"></div>