
.news article {
  & + article {
    padding: 20px;
    border-top: none;

    .post-category {
      padding-left: 50px;
      width: auto;
      max-width: 100%;
    }
  }

  @media (max-width: 480px) {
    & article ul { padding-left: 20px; }
  }

  @media (max-width: 568px) {
    & article { margin: 0; }
  }

  @media (min-width: 768px) {
    & article {
      padding: 40px 40px 30px;
    }
  }

  &.flexbox {
    display: flex;
  }
  .cell-right {
    flex: 1;
  }
}

