//# region 调整标题栏部分样式
header {
  .flexbox {
    justify-content: center;

    nav.hide-on-mobiles {
      margin-left: 0;
    }
  }
}
//# endregion

//# region 侧边栏添加文字溢出效果, 同时保持被选中项的左三角
aside ul li {
  position: relative;

  &.current::before {
    content: "";
    border-color: transparent transparent transparent #444;
    border-style: solid;
    border-width: 10px;
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
    left: -30px;
  }

  a {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    line-height: 24.15px; /* reset line-height */
  }
}
//#endregion

.post-pubdate {
  @extend .post-category;
}